$primary-normal: #2977D5;
$primary-dark: #285286;
$primary-light: #4095fd;

$black-normal: #1E2832;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #FFF;
$white-dark: #edeaefb9;
$white-light: #fefbff;

$dark-normal: #000000;

$stroke-normal: #0A183D;