$primary-normal: #2977d5;
$primary-dark: #00296d;
$primary-light: #44c6e9;

$black-normal: #1E2832;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #FFF;
$white-dark: #edeaefb9;
$white-light: #fefbff;

$dark-normal: #000000;

$stroke-normal: #0A183D;