.contact-main{
    display: flex;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #d4e4f4;
    width: 100%;
    height: 150px;
}
.contact-uni {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-local{
    width: 5rem;
  
}