*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "partials/colors";
@import "partials/header";

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    background-color: white;
}

button{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: pointer;
}